<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLIP/LLM Analysis</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/biogpt.css"> 
</head>

<body>
    <div class="main-title-container">
        <div class="return-button-container">
            <form action="{{ url_for('index') }}" method="get">
                <button type="submit" class="return-button">← Home</button>
            </form>
        </div>
        <div class = "main-title-inner-container">
            <h1 class="main-title">BioGPT (LLM) Analysis</h1>
        </div>
    </div>
    <br><br>
    
        <div class = "container">

            <div class = "big-component">
                <p>Placeholder words</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, tempore odit? Dolor eius, aliquid architecto repellendus voluptas, molestiae eveniet reprehenderit eaque molestias aut ratione cupiditate dolores, tenetur adipisci voluptatibus ea!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, tempore odit? Dolor eius, aliquid architecto repellendus voluptas, molestiae eveniet reprehenderit eaque molestias aut ratione cupiditate dolores, tenetur adipisci voluptatibus ea!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, tempore odit? Dolor eius, aliquid architecto repellendus voluptas, molestiae eveniet reprehenderit eaque molestias aut ratione cupiditate dolores, tenetur adipisci voluptatibus ea!</p>
            </div>

            <div class = "small-component">
                <h2>Uploads</h2>
            </div>

            <div class = "small-component">
                <h2>Data from BLIP</h2>
            </div>

        </div>
    
        <!--Script-->
        <script>
        </script>
    
    </body>

    <footer>
        <h1></h1>
        <div class = "icon-container">
            <button onclick="window.open('https://github.com/chyiricketts', '_blank');">
                <img src = "static\footerimg\github.svg" alt = "Github icon">
            </button>
            <button onclick="window.location.href='mailto:chyi.ricketts@gmail.com';">
                <img src = "static\footerimg\mail.svg" alt = "Email icon">
            </button>
            <button onclick="window.open('https://www.facebook.com/chyi.ricketts', '_blank');">
                <img src = "static\footerimg\facebook.svg" alt = "Facebook icon">
            </button>
            <button onclick="window.open('www.linkedin.com/in/chyi-ricketts', '_blank');">
                <img src = "static\footerimg\linkedin.svg" alt = "Linkedin icon">
            </button>
        </div>
        <p>Signature Work</p>
        <p>@Chyi Ricketts</p>
    </footer>
</html>