<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whole Image Visualization</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/wholeimage.css"> 
</head>

<body>
    <div class="main-title-container">
        <div class="return-button-container">
            <form action="{{ url_for('index') }}" method="get">
                <button type="submit" class="return-button">← Home</button>
            </form>
        </div>
        <div class = "main-title-inner-container">
            <h1 class="main-title">Segmentation Visualization</h1>
        </div>
    </div>
    <br><br>
    
        <div class = "container">

            <div class = "big-component">
                <p>This page is a visualizer tool for analyzing post-segmentation Cellpose files. 
                    Using an image file (e.g. png, tiff) and a corresponding .npy file, 
                    it is able to present a user-friendly view of the image data without the use of coding skills. 
                    JavaScript allows seamless response to update the image, graphed with MatPlotLib. </p>
                <br>
                <p>Just use the demonstration below to toggle your preferences and see the updates!</p>
            </div>


            <div class = "spacer"></div>

            <!--Left side with Update Image Parameters-->
            <div class = "components">

                <div class = "left-update">
                    <h2>Update Image Parameters</h2>
                
                    <div class = "title_text_container">
                        <label for="title_text">Figure Title:</label>
                        <input type="text" id="title_text" placeholder="Enter title">
                    </div>

                    <br>

                    <div class = "checkbox-container">
                        <label for="axis_toggle">Axis Toggle:</label>
                        <input type="checkbox" id="axis_toggle">
                    </div>

                    <br><br>

                    <label for="color_mode">Color Mode:</label>
                    <select id="color_mode">
                        <option value="Original">Original</option>
                        <option value="Greyscale">Greyscale</option>
                    </select>

                    <br><br>

                    <div class="slider-container">
                        <label for="brightness_adjust">Image Opacity:</label>
                        <input type="range" id="brightness_adjust" min="0" max="10" step="0.5" value="1">
                    </div>

                    <br><br>
                
                    <div class = "checkbox-container">
                        <label for="overlay_mask">Overlay Mask:</label>
                        <input type="checkbox" id="overlay_mask">
                    </div>

                    <br>

                    <div class="slider-container">
                        <label for="overlay_adjust">Overlay Opacity:</label>
                        <input type="range" id="overlay_adjust" min="0" max="1" step="0.05" value="0.5">
                    </div>

                    <br><br>

                    <div class = "checkbox-container">
                        <label for="mask_border">Mask Borders:</label>
                        <input type="checkbox" id="mask_border">
                    </div>

                    <br>

                    <div class="slider-container">
                        <label for="border_linewidth">Border Linewidth:</label>
                        <input type="range" id="border_linewidth" min="0.5" max="2" step="0.1" value="1">
                    </div>

                    <br><br>

                    <div class = "checkbox-container">
                        <label for="mask_labels">Mask Labels:</label>
                        <input type="checkbox" id="mask_labels">
                    </div>

                    <br><br><br>
                
                    <div class="center-button-container">
                        <button class = "update_button" id="update_button">Update Graph</button>
                    </div>
                </div>
            </div>


            <div class = "spacer"></div>
        
            <!--Right Side with Generated Image-->
            <div class = "components">
                <div class = "middle-image">
                    <h2>Generated Image:</h2>
                    <img id="graph_image" src="{{ image_path }}" alt="Generated Image">
                </div>
            </div>

            <div class = "spacer"></div>

            <div class = "components">
                <div class = "right-data">
                    <h2>Choose the file to view</h2>
                    <p>Just select one of the following options to change the image</p>

                    <br><br>

                    <div class="checkbox-container">
                        <input type="checkbox" id="image_choice1" class = "exclusive-checkbox" checked>
                        <label for="image_choice">First Sample Image</label>
                    </div>

                    <br>

                    <div class="checkbox-container">
                        <input type="checkbox" id="image_choice2" class = "exclusive-checkbox">
                        <label for="image_choice">Second Sample Image</label>

                    </div>

                    <br>

                    <div class="checkbox-container">
                        <input type="checkbox" id="image_choice3" class = "exclusive-checkbox">
                        <label for="image_choice">Third Sample Image: </label>
                    </div>

                    <br><br><br>

                    <p>Soon to have capabilities to upload your own file</p>
                </div>
            </div>

        </div>
    
        <!--Script-->
        <script>
            $(document).ready(function() {
                function updateGraph() {
                    let titleText = $("#title_text").val();
                    let colorMode = $("#color_mode").val();
                    let overlayMask = $("#overlay_mask").is(":checked");
                    let axisToggle = $("#axis_toggle").is(":checked");
                    let maskBorder = $("#mask_border").is(":checked");
                    let brightnessAdjust = $("#brightness_adjust").val();
                    let overlayAdjust = $("#overlay_adjust").val();
                    let borderLinewidth = $("#border_linewidth").val();
                    let maskLabels = $("#mask_labels").is(":checked");
                    let imageChoice1 = $("#image_choice1").is(":checked");
                    let imageChoice2 = $("#image_choice2").is(":checked");
                    let imageChoice3 = $("#image_choice3").is(":checked");

    
                    $.ajax({
                        type: "POST",
                        url: "/update_graph",
                        contentType: "application/json",
                        data: JSON.stringify({
                            title_text: titleText, 
                            color_mode: colorMode, 
                            overlay_mask: overlayMask,
                            axis_toggle: axisToggle,
                            mask_border: maskBorder,
                            brightness_adjust: brightnessAdjust,
                            overlay_adjust: overlayAdjust,
                            border_linewidth: borderLinewidth,
                            mask_labels: maskLabels,
                            image_choice1: imageChoice1,
                            image_choice2: imageChoice2,
                            image_choice3: imageChoice3
                        }),
                        
                        success: function(response) {
                            $("#graph_image").attr("src", response.img + "?t=" + new Date().getTime()); // Prevent caching

                        }
                    });
                }
    
                $("#update_button").click(updateGraph);
            });


            
            document.querySelectorAll('.exclusive-checkbox').forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    if (this.checked) {
                        document.querySelectorAll('.exclusive-checkbox').forEach(other => {
                            if (other !== this) {
                                other.checked = false;
                            }
                        });
                    }
                });
            });

        </script>
    
    </body>

    <footer>
        <h1></h1>
        <div class = "icon-container">
            <button onclick="window.open('https://github.com/chyiricketts', '_blank');">
                <img src = "static\footerimg\github.svg" alt = "Github icon">
            </button>
            <button onclick="window.location.href='mailto:chyi.ricketts@gmail.com';">
                <img src = "static\footerimg\mail.svg" alt = "Email icon">
            </button>
            <button onclick="window.open('https://www.facebook.com/chyi.ricketts', '_blank');">
                <img src = "static\footerimg\facebook.svg" alt = "Facebook icon">
            </button>
            <button onclick="window.open('www.linkedin.com/in/chyi-ricketts', '_blank');">
                <img src = "static\footerimg\linkedin.svg" alt = "Linkedin icon">
            </button>
        </div>
        <p>Signature Work</p>
        <p>@Chyi Ricketts</p>
    </footer>
</html>